<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>COVID-19 Fact Checker</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="new.html"> Report Misinformation </a></li>
    </ul>
    <div class="header">
    <h1>COVID-19 Fact Checker</h1>
    <h3>Don't be a victim of misinformation.</h3>
    </div>
    <div class="information">
      <p>This is a website where you can upload screenshots of COVID-19 related news, articles, or social media posts to get them fact-checked!</p>
      <p>Our goal is to reduce the impact of misinformation and fearmongering on social media.</p>
      
      <p>It's extremely important for people to understand what is happening, and what they can do to protect themselves, and the people around them.</p>
      
    </div>

    <br>
    <div class='div-primary'>
    <!-- list articles from database here -->
    <div>

      <footer>
        <p>This website was made by Lalla, Carrie and Crystal during the 2020 Technica Hackathon. Please enjoy!</p>
      </footer>
		<script src="script.js"></script>
  </body>
</html>
