<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>COVID-19 Fact Checker</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="new.html"> Report Misinformation </a></li>
    </ul>
    <div class="header">
    <h1>COVID-19 Fact Checker</h1>
    <h3>Don't be a victim of misinformation.</h3>
   
    <form action='/imageupload' method='post' enctype='multipart/form-data' id='ImageUpload'>
			<div class='form'>
				<div class='image'> Upload a screenshot of the misinformation here:</div>
        <br>
				<div class='input'><input type = 'file' class = 'file-input' name = 'file_image' id = 'file_image'></div>
        </div>
        <br>
        <div class = 'form'>
          <div class = 'form-btn-submit'><button type = 'submit' class = 'frm-btn-submit'>Upload</button></div>
          </div>
        </div>
      </form>

      <div class="uploaded-img">
        <div class="box">
          <img src="coronavirus.tif" style="width: 50%; padding-left: 25%; padding-top: 5%;">
          <p>This is where the screenshot would appear once uploaded by the user.</p>
        </div>
      </div>

      <div>  
        <h1>Is this real?</h1>
        <h3>Yes</h3>
        <h3>No</h3>
      </div>

      <div>
        <h1>Prove It!</h1>
        <h3>Supporting Evidence We Found:</h3>
        <p>
          <article>Example here</article>
          <p>This source debunks...</p>
          <article>Example 2</article>
          <p>This source supports...</p>
        </p> 
      </div>

      <footer>
<p>This website was made by Lalla, Carrie and Crystal during the 2020 Technica Hackathon using HTML, CSS, and Python. Please enjoy!</p>
      </footer>
  </body>
</html>
